[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arno den Uijl (arnodenuijl)
[access "refs/for/refs/*"]
	read = group user/Arno den Uijl (arnodenuijl)
	push = group user/Arno den Uijl (arnodenuijl)
	label-Code-Review = -2..+2 group user/Arno den Uijl (arnodenuijl)
	label-Verified = -1..+1 group user/Arno den Uijl (arnodenuijl)
	rebase = group user/Arno den Uijl (arnodenuijl)
	removeReviewer = group user/Arno den Uijl (arnodenuijl)
	submit = group user/Arno den Uijl (arnodenuijl)
[access "refs/heads/*"]
	read = group user/Arno den Uijl (arnodenuijl)
	create = group user/Arno den Uijl (arnodenuijl)
	push = +force group user/Arno den Uijl (arnodenuijl)
	pushMerge = group user/Arno den Uijl (arnodenuijl)
[access "refs/tags/*"]
	push = +force group user/Arno den Uijl (arnodenuijl)
	pushTag = group user/Arno den Uijl (arnodenuijl)
	pushSignedTag = group user/Arno den Uijl (arnodenuijl)
